/* Configurações de Fonts */
@font-face {
    font-family: 'Caviar Dreams';
    src: url('https://raw.githubusercontent.com/EffectiveDesign2025/EffectiveDesign2025/main/fonts/CaviarDreams.ttf') format('truetype'),
         url('https://raw.githubusercontent.com/EffectiveDesign2025/EffectiveDesign2025/main/fonts/CaviarDreams_Bold.ttf') format('truetype'),
         url('https://raw.githubusercontent.com/EffectiveDesign2025/EffectiveDesign2025/main/fonts/CaviarDreams_BoldItalic.ttf') format('truetype'),
         url('https://raw.githubusercontent.com/EffectiveDesign2025/EffectiveDesign2025/main/fonts/CaviarDreams_Italic.ttf') format('truetype');
}

/* Configurações Gerais do Corpo */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* ------------------------------------------- MENU DE NAVEGAÇÃO --------------------------------------------- */

/* Configurações Gerais da Barra de Navegação */
nav {    
    display: flex;
    justify-content: space-around;
    font-family: "Caviar Dreams";
    align-items: center;
    background-color: #FFFFFF;
    height: 80px;
    width: 100%;
    text-align: center;
}

/* ---------------- CONFIGURAÇÕES DA LOGO ------- >>>>>>----- */

/* Configurações do Bloco da Logo */
nav logo {
    display: flex;
    height: 80px;
    width: auto;
}

/* Configurações da logo por ID */
#logo {
    max-height: 70px;
    height: 60px;
    width: auto;
    animation: flutuante 3s ease-in-out infinite; /* Duração e repetição */
}

/* Configurações do Efeito Flutuante da Logo */
@keyframes flutuante {
    0% { transform: translateY(0px) rotate(0deg); }
    25% { transform: translateY(-4px) rotate(-1deg); }
    50% { transform: translateY(0px) rotate(1deg); }
    75% { transform: translateY(4px) rotate(-1deg); }
    100% { transform: translateY(0px) rotate(0deg); }
}

/* ---------------- CONFIGURAÇÕES DE LISTA DE MENU DE NAVEGAÇÃO ------- >>>>>>----- */

/* Configurações da Lista de Navegação */
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0;
    margin: 0;
    gap: 20px;
    width: auto;
}

/* Configurações das linhas na Lista de Navegação */
nav li {
    margin: 0 15px;
    text-align: center;
}

/* Configurações dos Links na Lista de Navegação */
nav a {
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    color: #16011e;
}

/* Configurações dos Links na Lista de Navegação | Hover */
nav a:hover {
    color: #4b0263; 
    border-radius: 5px;
}

/* ---------------- CONFIGURAÇÕES DO MENU HAMBÚRGUER ------- >>>>>>----- */

/* Estilo do menu hambúrguer */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

/* Configurações das Barras de Menu HAMBÚRGUER na Horizontal */
.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: #16011e;
    margin: 4px 0;
}

/* ------------------------------------------- SEÇÃO INICIAL --------------------------------------------- */

/* Configuração Geral de Containers */
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    background-color: #FFFFFF;
}

/* Configurações Gerais de Conteúdo */
.content {
    width: 38%;
    height: auto;
    padding: 0 5%;
    text-align: center;
    color: #000000;
}

/* Configurações Gerais de Conteúdo h1 */
.content h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

/* Configurações Gerais de Conteúdo h2 */
.content h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #260132;
}

/* Configurações Gerais de Conteúdo P */
.content p {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: justify;
}

/* Configuração - Sessão Inicial - Lado Esquedo */
.secao-inicial-lado-esquerdo {
    background-color: #FFFFFF;
}

/* Configuração - Seção Inicial - Lado Direito */
.secao-inicial-lado-direito {    
    Background-color: #FFFFFF;    
}

/* Configuração Específica da animação por ID */
#lottie-animation {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* Configuração do Texto com Gradiente */
#effective-design {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(45deg, #ff0000, #0000ff, #00ff00, #ffff00, #8a2be2, #ff00ff);
    background-size: 800% 800%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animateSpectrum 30s infinite linear;
}

/* Animação do Gradiente */
@keyframes animateSpectrum {
    0%   { background-position: 0% 0%; }
    25%  { background-position: 100% 0%; }
    50%  { background-position: 100% 100%; }
    75%  { background-position: 0% 100%; }
    100% { background-position: 0% 0%; }
}

/* Configurações do efeito do Botão */
#bt_pulse {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    background-color:#25d366;
    transition: background-color 0.3s, transform 0.2s;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
    margin-top: 30px;
    width: 30%;
}

/* Configurações do Link do Botão */
#bt_pulse i {
    margin-right: 8px;
    font-size: 1.2rem;
}

/* Configurações do Botão | Hover */
#bt_pulse:hover {
    background-color: #1ebe5d;
    transform: scale(1.05);
}

/* ------------------------------------------- RESPONSIVIDADE | MEDIAS QUERIES ATÉ 767px --------------------------------------------- */

@media (max-width: 767px) {

    /* Configuração da Barra de Navegação - ATÉ 767px */
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Configuração da Logo - ATÉ 767px */
    #logo {
        display: flex;
        padding-left: 10%;
    }

    /* Configuração de Lista de Navegação - ATÉ 767px */
    nav ul {
        position: fixed;
        display: none;
        flex-direction: column;
        width: 50%;
        height: auto;;
        top: 0px;
        right: 0;
        background-color: #f8f9fa;
        padding: 10px 0;
        border-radius: 8px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        transform: translateY(-100%);
    }

    /* Configuração de Ativação de Lista - MENU HAMBÚRGUER - ATÉ 767px */
    nav ul.active {
         display: block;
         transform: translateY(0);
         opacity: 1;
    }

    /* Configuração de Linha de Lista de Navegação - ATÉ 767px */
    nav li {
        margin: 10px 0;
    }

    /* Configuração de Link de Lista de Navegação - ATÉ 767px */
    nav a {
        padding: 15px;
        width: 100%;
        color: #260132;
    }

    /* Configuração do Menu HAMBÚRGUER - Até 767px */
    .menu-toggle {
        position: relative;
        z-index: 10; /* Aumente o z-index para garantir que fique acima */
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        color: #333;
        padding-right: 10%;
    }

    /* Configuração das Barras do Menu HAMBÚRGUER - ATÉ 767px */
    .menu-toggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #16011e;
    }

    /* Configuração Geral de Container - ATÉ 767px */
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 30px;
    }

    /* Configuração do Conteúdo - ATÉ 767px */
    .content {
        width: 90%;
        padding: 0 5%;
        text-align: center;
    }

    /* Configuração do Botão - ATÉ 767px */
    #bt_pulse {
        width: 50%;
        padding: 10 30px;
        margin-top: 20px;
    }
}

#effective-design {
    font-size: 60px;
}
/* ------------------------------------------- RESPONSIVIDADE | MEDIAS QUERIES ATÉ 417px --------------------------------------------- */

@media (max-width: 417px) {

    /* Configurações Gerais de Conteúdo h1 - ATÉ 417px */
    .content h1 {
        font-size: 3rem; /* Reduzir a fonte para tamanhos menores */
    }

    /* Configurações Gerais de Conteúdo h2 - ATÉ 417px */
    .content h2 {
        font-size: 1.2rem; /* Reduzir a fonte para tamanhos menores */
    }

    /* Configurações Gerais de Conteúdo P - ATÉ 417px */
    .content p {
        font-size: 0.9rem; /* Reduzir a fonte para tamanhos menores */
    }

    /* Configurações do Texto com Gradiente - ATÉ 417px */
    #effective-design {
        font-size: 45px; /* Reduzir a fonte para tamanhos menores */
        margin-top: -30px;
        margin-bottom: 5px;
    }
}
