/*Configurações Gerais do Corpo */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* ------------------------------------------- MENU DE NAVEGAÇÃO --------------------------------------------- */

/*Configurações Gerais da Barra de Navegação */
nav {    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2E8B8F;
    height: 80px;
    width: 100%;
    text-align: center;
}

/* ---------------- CONFIGURAÇÕES DA LOGO------- >>>>>>----- */

/*Configurações do Bloco da Logo */
nav logo {
    display: flex;
    height: 80px;
    width:auto;
}

/*Configurações da logo por ID */
#logo {
    max-height: 70px;
    height: 60px;
    width: auto;
    animation: flutuante 3s ease-in-out infinite; /* Duração e repetição */
}

/*Configurações do Efeito Flutuante da Logo */
@keyframes flutuante {
    0% { transform: translateY(0px) rotate(0deg); }
    25% { transform: translateY(-4px) rotate(-1deg); }
    50% { transform: translateY(0px) rotate(1deg); }
    75% { transform: translateY(4px) rotate(-1deg); }
    100% { transform: translateY(0px) rotate(0deg); }
}

/* ---------------- CONFIGURAÇÕES DE LISTA DE MENU DE NAVEGÃO ------- >>>>>>----- */

/*Configurações da Lista de Navegação */
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0;
    margin: 0;
    gap: 20px;
    width: auto;
}

/*Configurações das linhas na Lista de Navegação */
nav li {
    margin: 0 15px;
    text-align: center;
}

/*Configurações dos Links na Lista de Navegação */
nav a {
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    color: #ffffff;
}

/*Configurações dos Links na Lista e Navegação | Hover */
nav a:hover {
    background-color: #C7A8CE;
    border-radius: 5px;
}

/* ---------------- CONFIGURAÇÕES DO MENU AMBURGUER ------- >>>>>>----- */

/* Estilo do menu hambúrguer */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
/* Configurações das Barras de Menu Hanmburguer na Horizontal */
.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: #ffffff;
    margin: 4px 0;
}

/* ------------------------------------------- SEÇÃO INICIAL --------------------------------------------- */

/* Configuração Geral de Containers */
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    background-color: #EEF9F7;
}

/* Configurações Gerais de Conteúdo */
.content {
    width: 48%;
    text-align: center;
    padding: 0 5%;
    
}

/* Configurações Gerais de Conteúdo h1 */
.content h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

/* Configurações Gerais de Conteúdo h2 */
.content h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #260132;
}

/* Configurações Gerais de Conteúdo P */
.content p {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: justify;

}

/* Configuração Específica da animação  por ID */
#lottie-animation {
    display: flex;
    width: 48%;
    height: auto;
    margin: 0 auto;
    padding: 0 5%;
}
/* ------------------------------------------- BOTÃO DO WHATSAPP --------------------------------------------- */

/*Configurações do efeito do Botão */
#bt_pulse {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    background-color: #25d366;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.3s;
}

/*Configurações do Link do Botão */
#bt_pulse i {
    margin-right: 8px;
    font-size: 1.2rem;
}

/*Configurações do Botão | Hover */
#bt_pulse:hover {
    background-color: #1ebe5d;
}

/* ------------------------------------------- RESPONSIVIDADE| MEDIAS QUERIES ATÉ 767px --------------------------------------------- */

@media (max-width: 767px) {

    /* Configuração da Barra de Navegação - ATÉ 767px */
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /*Configuração da Logo - ATÉ 767px */
    #logo {
        display: flex;
    }

    /* Configuração do Menu Hamburguer - Até 767px */
    .menu-toggle {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        color: #333;
    }

    /* Configuração das Barras do Menu Hamburguer - ATÉ 767px */
    .menu-toggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #ffffff;
    }

    /* Configuração de Lista de Navegação - ATÉ 767px */
    nav ul {
        display: none;
        flex-direction: column;
        width: 50%;
        position: absolute;
        top: 80px;
        right: 0;
        width: 200px;
        background-color: #f8f9fa;
        padding: 10px 0;
        border-radius: 8px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    /* Configuração de Ativação de Lista - MENU Hamburguer - ATÉ 767px */
    nav ul.active {
        display: flex;
    }

    /* Configuração de Linha de Lista de Navegação - ATÉ 767px */
    nav li {
        margin: 10px 0;
    }

    /* Configuração de Link de Lista de Navegação - ATÉ 767px */
    nav a {
        padding: 15px;
        width: 100%;
        color: #260132;
    }

    /* Configuração Geral de Container - ATÉ 767px */
    .container {
        width: 100%
        text-align: justify;
        align-items: center;
    }

    /* Configuração Específica da animação por ID - ATÉ 767px */
    #lottie-animation {
        display: flex;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    
    /* Configurações de Conteúdo - ATÉ 767px */
    .content {
        display: flax;
        width: 100%;
        text-align: center;
        align-items: center;
    }

    /* Configurações de Conteúdo h1 - ATÉ 767px */
    .content h1 {
        font-size: 2rem;
    }

    /* Configurações de Conteúdo h2 - ATÉ 767px */
    .content h2 {
        font-size: 1.3rem;
    }
}

/* ------------------------------------------- RESPONSIVIDADE| MEDIAS QUERIES - ATÉ 417px --------------------------------------------- */

@media (max-width: 417px) {
    @media (max-width: 767px) {

    /* Configuração da Barra de Navegação - ATÉ 767px */
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /*Configuração da Logo - ATÉ 767px */
    #logo {
        display: flex;
    }

    /* Configuração do Menu Hamburguer - Até 767px */
    .menu-toggle {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        color: #333;
    }

    /* Configuração das Barras do Menu Hamburguer - ATÉ 767px */
    .menu-toggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #ffffff;
    }

    /* Configuração de Lista de Navegação - ATÉ 767px */
    nav ul {
        display: none;
        flex-direction: column;
        width: 50%;
        position: absolute;
        top: 80px;
        right: 0;
        width: 200px;
        background-color: #f8f9fa;
        padding: 10px 0;
        border-radius: 8px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    /* Configuração de Ativação de Lista - MENU Hamburguer - ATÉ 767px */
    nav ul.active {
        display: flex;
    }

    /* Configuração de Linha de Lista de Navegação - ATÉ 767px */
    nav li {
        margin: 10px 0;
    }

    /* Configuração de Link de Lista de Navegação - ATÉ 767px */
    nav a {
        padding: 15px;
        width: 100%;
        color: #260132;
    }

    /* Configuração Geral de Container - ATÉ 767px */
    .container {
        width: 100%
        text-align: justify;
        align-items: center;
    }

    /* Configuração Específica da animação por ID - ATÉ 767px */
    #lottie-animation {
        display: flex;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    
    /* Configurações de Conteúdo - ATÉ 767px */
    .content {
        display: flax;
        width: 100%;
        text-align: center;
        align-items: center;
    }

    /* Configurações de Conteúdo h1 - ATÉ 767px */
    .content h1 {
        font-size: 1.8rem;
    }

    /* Configurações de Conteúdo h2 - ATÉ 767px */
    .content h2 {
        font-size: 1.2rem;
    }
}
